/* Estilo geral do corpo da página */
body {
    font-family: monospace, fantasy; /* Fonte padrão */
    margin: 0; /* Remover margens padrão */
    padding: 0; /* Remover preenchimento padrão */
    background-color: #fffffffd; /* Cor de fundo neutra */
    color: #070606; 
    background-image: url(https://th.bing.com/th/id/OIG1.StWBD1wlaQaTgBdCkhgh?w=1024&h=1024&rs=1&pid=ImgDetMain);
    background-size: cover
}

/* Cabeçalho */
header {
    background-color: #09335e; 
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

header h1 {
    color: #ffffff; 
    font-family: fantasy;
    font-size: 40px;
    font-weight: 300;
    font-stretch: expanded;
}

/* Conteúdo principal */
main {
    padding: 0px;
}

/* Seção de introdução */
.introducao {
    color: #030303;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 50px;
}

.card {
    background-color: #ece7d8;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 700px; 
    margin: 10px auto;
        }

.introducao img {
    height: 450;
    margin: auto;
    border-radius: 20px;
    display:flex;
}

/* Menu de navegação */
nav ul {
    list-style-type:georgian;
    text-decoration:double ;
    font-family: monospace;
    font-display:inherit ;
    text-align: center;
}

nav li {
    display:inline-flex;
    border-color: rgb(8, 8, 8);
    border-style:outset;
    border-radius: 30px;
    font-size: 15px;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
}


/* Links externos */
a:link,
a:visited {
    color: #030303;
    text-decoration:wavy;
    text-decoration: double;
    font-stretch: expanded;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px;
}

